*{
    box-sizing: border-box;
}

body{
    margin:0px;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.927);
}

/* backgroundImageSection */

.bgMain{
    height: 100vh;
    background-image: url("images/bg-mobile.png");
    background-size:cover; 
}

/* flexBoxes for proper alignment */

.alignBox{
    height:100vh;
    display:flex;
    align-items: center;
}

.dataBox{
    width:100%;
    margin:1.8em;
    display:flex;
    flex-direction: column;
}

/* uploadBar starst from here.*/

.uploadBar{
    width:285px;
    background-color: hsl(228, 56%, 26%);
    padding:2.5em 3em 0em 2.5em;
    border-radius: 10px;
    border-top-right-radius: 100px;
    margin-bottom:1.2em;
}

.options{
    height:7em;
    display:flex;
    align-items:center;
    column-gap: 1.5em;
}

[class*="image"]{
    width:3.5em;
    height:3.5em;
    background-color: hsl(229, 57%, 11%);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

img{
    display:block;
}
/* progressBar starts form here */
.progressBar{
    width:100%;
    position:relative;
}
.progress{
    height:11em;
    text-align: center;
    background-color: hsl(228, 56%, 26%);
    padding: 2.2em;
    border-radius: 10px;
}

p{
    margin:0px;
}

.bg{
    margin-top:1em;
    margin-bottom: 0.5em;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;
}

.bullet{
    color:transparent;
    width:75%;
    border:3px solid hsl(229, 57%, 11%);
    background-image: linear-gradient(90deg,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 10px;
}

.range{
    display:flex;
    justify-content: space-between;
    font-weight: 700;
}

.usedGb{
   font-weight: 700;
}

/* White Bubble */

.bubble{
    display:flex;
    position:absolute;
    right:25%;
    top:78%;
    background-color: white;
    color:black;
    column-gap: 0.5em;
    padding:1em 1.3em;
    border-radius: 10px;
}

.gbLeft{
    font-size: 2rem;
    font-weight: 700;
}

.words{
    align-self:center;
    font-weight:700;
    color:  hsl(229, 7%, 55%);
}

/* Media Queries */

@media (min-width:780px){
 
    .uploadBar{
        margin-bottom: 0px;
    }
   
    .dataBox{
        flex-direction: row;
        column-gap: 2em;
        width:100%;
        position:relative;
    }
   
    .progressBar{
        display:flex;
        align-self: flex-end;
        position: static;
    }
    .progress{
        width:100%;
        padding:2.5em;
        text-align: left;
        height:10em;
    }

    .bubble{
        top:0px;
        right:30px;
        padding: 0.8em;
    }
    .bubble:after{
        content:"";
        width:0px;
        height:0px;
        border-right:19.5px solid white;
        border-bottom: 15px solid transparent;
        border-left:17px solid transparent;
        border-top:11px solid white;
        position:absolute;
        right:0px;
        top:51px;
    }

}

@media (min-width:975px){
    .bgMain{
        background-color: hsl(229, 57%, 11%);
        background-image: url("images/bg-desktop.png");
        background-size: 100% 50%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .dataBox{
        margin:15em;
    }
}